ScrappingScripts/BritishMuseum/photo
ScrappingScripts/GlobalEgyptianMuseum/photo
ScrappingScripts/MetMuseum/photo
ScrappingScripts/RosicruicanMuseum/photo
Initial Model/Data/
Initial Model/photo/
ScrappingScripts/BritishMuseum/result.json